%li.contents__right--main__message_wrapper{"data-message-id": "#{message.id}"}
 .contents__right--main__message_name
  = message.user.name
 .contents__right--main__message_day
  = message.created_at
 .contents__right--main__message_text
  - if message.content.present?
   = message.content
   = image_tag message.image.url, class: 'contents__right--main__message_image' if message.image.present?
