.contents
 = render 'side_bar'

 .contents__right
  .contents__right--top
   .contents__right--top_room
    .contents__right--top_room_name
     = @group.name
    = link_to edit_group_path(current_user) do
     .contents__right--top_room_button edit

  .contents__right--main#scroll
   .contents__right--main__room_wrapper
    .contents__right--main__room_member MEMBER :
    - @group.users.each do|member|
     .contents__right--main__room_name
      = member.name

   %ul.contents__right--main__message
    - @messages.each do|message|
     %li.contents__right--main__message_wrapper{"data-message-id": "#{message.id}"}
      .contents__right--main__message_name
       = message.user.name
      .contents__right--main__message_day
       = message.created_at
      .contents__right--main__message_text
       = message.content
      %img.contents__right--main__message_image{src: "#{ message.image }"}

  .contents__right--bottom
   = form_for [@group,@message] ,html:{id:'new_comment'} do |f|
    = f.text_field :content, placeholder: "message!", class: 'input'
    .contents__right--bottom_icon
     %label
      = f.file_field :image, class: "image_file_select"
      = fa_icon("file-image-o")
    = f.submit 'SEND', class: "contents__right--bottom_submit"
