%header.header グループ作成成功

.contents
 .contents__left
  .contents__left--top
   .contents__left--top_user_name name
   = link_to root_path do
    .contents__left--top_icon
     = fa_icon("cog")
   = link_to root_path do
    .contents__left--top_icon
     = fa_icon("edit")
  .contents__left--main
   .contents__left--main_room_name chat-room-name
   .contents__left--main_room_message hello

 .contents__right
  .contents__right--top
   .contents__right--top_room
    .contents__right--top_room_name chat-room-name
    .contents__right--top_room_button edit
  .contents__right--main
   .contents__right--main__room_wrapper
    .contents__right--main__room_member MEMBER :
    .contents__right--main__room_name name name
   .contents__right--main__message
    .contents__right--main__message_name name
    .contents__right--main__message_day 2018/10/31
   .contents__right--main__message_text hello

  .contents__right--bottom
   %form
    %input
     .contents__right--bottom_icon
      %label
       %input.image_file_select{name: "image_file", type: "file"}
       = fa_icon("file-image-o")
     .contents__right--bottom_submit SEND
